body {
  overflow-x: hidden;
  margin: 0;
}

.container {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  padding: 20px 30px;
}

.section-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(233, 233, 233);
}

.section-1 .bouncing-img {
  font-size: 400px;
  font-family: "Anton", sans-serif;
  line-height: 0.92;
  /* margin-bottom: calc(100vh - 350px); */
  margin-bottom: 100vh;
  opacity: 0;
}

.section-1 .bouncing-img.bounce {
  margin-bottom: 0;
  opacity: 1;
}

@media (max-height: 370px) {
  .section-1 .bouncing-img.bounce {
    margin-bottom: 0;
    opacity: 1;
  }
}

.section-1 .num-1 {
  transition: margin-bottom 1s linear, opacity 1s linear;
  color: rgb(164, 209, 183);
  -webkit-text-stroke: 4px rgb(81, 124, 85);
}

.section-1 .num-2 {
  transition: margin-bottom 1s linear 0.4s, opacity 1s linear 0.4s;
  color: rgb(129, 177, 182);
  -webkit-text-stroke: 4px rgb(59, 112, 116);
}

.section-1 .num-3 {
  transition: margin-bottom 1s linear 0.8s, opacity 1s linear 0.8s;
  color: rgb(164, 209, 183);
  -webkit-text-stroke: 4px rgb(81, 124, 85);
}

.section-1 .num-4 {
  transition: margin-bottom 1s linear 1.2s, opacity 1s linear 1.2s;
  color: rgb(129, 177, 182);
  -webkit-text-stroke: 4px rgb(59, 112, 116);
}

.section-2 {
  position: relative;
  height: 220vh;
  background-color: rgb(39, 39, 39);
}

.section-2 span {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 100vh;
  line-height: 0.92;
  font-family: "Anton", sans-serif;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 1px rgb(164, 209, 183);
  z-index: 2;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 2vh;
}

.section-2 .background-img {
  width: calc(100% - 30px);
  padding: 20px 0;
  height: calc(100% - 40px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.section-2 .background-img > span {
  color: rgb(164, 209, 183);
}

.section-2 .content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: calc(125vh - 90px);
  background-color: rgb(39, 39, 39);
  padding-top: 90px;
  z-index: 1;
  color: white;
}
.section-2 .content .header,
.section-2 .content .text {
  position: relative;
  z-index: 4;
}

.section-2 .content .header {
  width: 50%;
  font-size: 120px;
  margin: 0;
  font-family: "Big Shoulders Display", cursive;
  padding-left: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.section-2 .content .text {
  display: flex;
  justify-content: space-between;
  width: 45%;
  padding-right: 20px;
}

.section-2 .content .text p {
  width: 48%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.section-2 .linear-gradient-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(125vh - 90px);
  /* background: linear-gradient(to top, rgb(0, 0, 0), rgb(39, 39, 39)); */
  z-index: 3;
}

.section-3 {
  padding-top: 100px;
  background-color: rgb(39, 39, 39);
}

.section-3 .group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 270px;
  color: rgb(174, 216, 202);
  border-bottom: 1px solid rgb(174, 216, 202);
}

.section-3 .group:last-child {
  border-bottom: 1px solid rgb(39, 39, 39);
  padding-bottom: 50px;
}

.section-3 .number {
  font-size: 200px;
  font-family: "Abril Fatface", cursive;
  margin: 0 40px;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.section-3 .text {
  font-size: 55px;
  font-family: "Noto Serif JP", serif;
  margin: 0 40px 0px;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 300;
  letter-spacing: -3px;
  word-spacing: 5px;
}

.section-3 .number.show {
  opacity: 1;
}

.section-4 {
  position: relative;
  height: 100vh;
  background-color: rgb(224, 224, 224);
  padding: 10vh 0 7vh 0;
  z-index: 1;
}

.section-4 .background-img {
  position: absolute;
  top: 0;
  left: 0;
  /* height: 100%; */
  display: flex;
  align-items: center;
  transition: left 0.3s ease-out;
}

.section-4 .background-img span {
  font-size: 100vh;
  line-height: 0.92;
  font-family: "Anton", sans-serif;
  color: rgb(216, 216, 216);
  z-index: 2;
}

.section-4 .for-sticky-position {
  width: 100%;
  height: calc(100vh - 17vh - 420px);
}

.section-4 .content {
  display: flex;
  position: sticky;
  top: 100px;
  z-index: 4;
}

.section-4 .header {
  width: 50%;
  font-size: 120px;
  margin: 0;
  font-family: "Big Shoulders Display", cursive;
  padding-left: 20px;
}

.section-4 .text {
  display: flex;
  justify-content: space-between;
  width: 45%;
  padding-right: 20px;
}

.section-4 .text p {
  width: 48%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.section-5 {
  position: relative;
  background-color: rgb(34, 103, 206);
  padding-bottom: 20px;
  z-index: 2;
}

.section-5 .container,
.section-6 .container {
  position: relative;
  padding: 0px 30px;
}

.section-5 .top,
.section-6 .top {
  position: sticky;
  top: 0;
  z-index: 3;
}

.section-5 .website-link,
.section-6 .website-link {
  display: flex;
  justify-content: flex-end;
  padding: 10px 30px;
  border-bottom: 1px solid white;
}

.section-5 .website-link a,
.section-6 .website-link a {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.section-5 .img-outline,
.section-5 .background-img span,
.section-6 .img-outline,
.section-6 .background-img span {
  font-size: 220px;
  font-family: "Anton", sans-serif;
  letter-spacing: -3px;
  line-height: 1;
  padding-top: 5px;
  text-transform: uppercase;
}

.section-5 .img-outline,
.section-6 .img-outline {
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 1.5px rgb(255, 255, 255);
}

.section-5 .background-img {
  position: absolute;
  top: 53px;
  left: 30px;
  height: calc(
    100% - 53px - 70px
  ); /* necessary for sticky and absolute to work together*/
  z-index: 1;
  padding-bottom: 70px;
}

.section-5 .background-img span {
  position: sticky;
  color: white;
  top: -8px;
}

.section-5 .bottom-background {
  position: absolute;
  top: 388px;
  left: 0;
  width: 100%;
  height: calc(100vh + 1100px - 388px);
  background-color: rgb(34, 103, 206);
  z-index: 2;
}

@media (max-height: 388px) {
  .section-5 .bottom-background {
    height: 1200px;
  }
}

.section-5 .bottom {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 1100px;
  padding: calc(100vh - 388px) 0 100px 0;
  z-index: 4;
}

.section-5 .bottom > div {
  width: 100%;
  height: 270px;
}

.section-5 .desc-container,
.section-6 .desc-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

.section-5 .website-type,
.section-6 .website-type {
  width: 50%;
  font-size: 55px;
  font-family: "Roboto Slab", serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  word-spacing: 8px;
  line-height: 0.92;
}

.section-5 .desc,
.section-6 .desc {
  width: 30%;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.section-5 .rotating-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  padding: 10px;
  margin: 0 calc(50% - 135px);
  background-color: rgb(210, 219, 248);
}

/* .section-5 .bottom div:nth-child(odd) img {
  background-color: rgb(217, 103, 252);
}

.section-5 .bottom div:nth-child(even) img {
  background-color: rgb(115, 243, 147);
} */

.section-6 {
  position: relative;
  background-color: rgb(32, 121, 47);
  z-index: 3;
}

.section-6 .img-outline {
  -webkit-text-stroke: 2px rgb(255, 255, 255);
}

.section-6 .img-outline,
.section-6 .background-img span {
  text-align: center;
  font-size: 270px;
}

.section-6 .background-img {
  left: 297px;
  z-index: 1;
  position: absolute;
  top: 53px;

  height: calc(
    100% - 53px - 70px
  ); /* necessary for sticky and absolute to work together*/
  z-index: 1;
  padding-bottom: 70px;
}

.section-6 .background-img span {
  position: sticky;
  color: white;
  top: -21px;
}

.section-6 .bottom-background {
  position: absolute;
  top: 439px;
  left: 0;
  width: 100%;
  height: calc(100vh + 1100px - 439px);
  background-color: rgb(32, 121, 47);
  z-index: 2;
}

@media (max-height: 439px) {
  .section-6 .bottom-background {
    height: 1200px;
  }
}

.section-6 .bottom {
  position: relative;
  /* min-height: 500px; */
  height: auto;
  padding-top: calc(100vh - 438px);
  z-index: 4;
}

.section-6 .roll-in {
  width: 250px;
  height: 250px;
  object-fit: cover;
  padding: 10px;
  background-color: rgb(180, 109, 62);
}

.section-6 .bottom > div {
  padding-bottom: 40px;
  height: 270px;
}

.section-6 .bottom div:nth-child(odd) img {
  opacity: 0;
  transition: margin-left 1s linear, transform 1s linear, opacity 1s linear;
}

.section-6 .bottom div:nth-child(even) img {
  opacity: 0;
  float: right;
  transition: margin-right 1s linear, transform 1s linear, opacity 1s linear;
}

.roll-in-left {
  transform: rotate(360deg);
  margin-left: 22%;
}

.roll-in-right {
  transform: rotate(-360deg);
  margin-right: 22%;
}
